1.changeing image or slider..
https://online.globalexchange.co.uk/
2.dropdown menu
3.Ok great, Thanks, I have added an attachment of what 
I need. a very high level prototype but we will have to add 
pictures etc and make it look nicer but basically for now I will 
need the drop downs and the categories to 
work well. You can use a different web page and just add these details.
4.Basically the different pages on the PowerPoint are 
the pages I need for the website. I have circled in red each page so you can see which page we are on. You will have to do the
 drop down and make sure I can attach a link to it.